#content {
	max-width: var(--contentWidth);
	padding: var(--gap) var(--gap) 0 var(--gap);
	background-color: var(--background);
	border-left: solid 1px var(--bright);
}

hr {
	width: 10%;
	transform: translateX(calc(var(--gap) * -1));
	margin: 0;
	margin-bottom: var(--gap);
	border: none;
	border-bottom: solid 1px var(--bright);
}

audio::-webkit-media-controls,
audio::-webkit-media-controls-panel {
	background: var(--highlight);
}

audio:focus,
video:focus {
	outline: none;
}

.textImage,
.video,
.audio {
	width: 100%;
	border-radius: var(--radius);
	margin: 0 0 var(--gap) 0;
}

li .textImage {
	width: 100%;
	margin: 0 0 5px 0;
}

.pageCard {
	display: block;
	position: relative;
	width: 100%;
	height: 140px;
	margin: 0 0 var(--gap) 0;
	border-radius: var(--radius);
	border: solid 1px var(--bright);
	overflow: hidden;
}

.pageCardImage {
	display: inline-block;
	height: 100%;
	width: 33.33%;
	min-width: 80px;
	border-right: solid 1px var(--bright);
	border-radius: 0;
	background-size: cover;
	background-position: center;
	transition: filter 0.2s;
}

.pageCardImage:hover {
	filter: brightness(0.75);
}

.pageCardTitle {
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 var(--gap) 0 var(--gap);
}

code,
.codeBlock {
	font-family: 'Roboto Mono';
	font-size: 14px;
	background-color: var(--default);
	color: var(--antiDefault);
	border-radius: var(--radius);
	padding: 0 4px 0 4px;
}

.codeBlock {
	display: block;
	width: 100%;
	padding: var(--gap);
	margin: 0 0 var(--gap) 0;
	line-height: normal;
	white-space: pre-wrap;
}

.codeBlock a {
	color: var(--antiDefault)
}

blockquote {
	width: 100%;
	margin: 0 0 var(--gap) 0;
	padding: 0 var(--gap) 0 var(--gap);
	font-family: 'Roboto';
	font-style: italic;
	font-size: 20px;
	line-height: 36px;
	border-left: solid 1px var(--bright);
}

.condensedList,
.spaciousList {
	width: 100%;
	padding: 0 0 var(--gap) 0;
	margin: 0;
	list-style-type: none;
	line-height: 24px;
	font-size: 16px;
}

.condensedList {
	columns: 4;
	-webkit-columns: 4;
	-moz-columns: 4;
	line-height: 36px;
}

.spaciousList {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
	padding-bottom: 30px;
}

.condensedList li,
.spaciousList li {
	display: list-item;
}

.spaciousList li {
	margin-bottom: 10px;
}

.condensedList li a {
	font-weight: 400;
}