#sidebar {
	width: 320px;
	min-width: 250px;
	vertical-align: top;
	padding: var(--gap);
	font-size: 13px;
}

#sidebar * {
	color: var(--ultraDark);
}

.sideTitle {
	display: block;
	font-size: 20px;
	margin-bottom: 20px;
}

.sideText {
	display: block;
	margin-bottom: 20px;
}

.sideBox {
	display: block;
	font-weight: 400;
}

.sideDivider {
	display: block;
	width: 100%;
	background-color: var(--bright);
	height: 0.65px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.sidebarRelatedTitle {
	display: block;
	margin-bottom: 20px;
}

#sidebar .sidebarRelatedSame,
#sidebar .sidebarRelatedSame a {
	color: var(--medium);
}

.logStat {
	display: inline-block;
	vertical-align: top;
	width: 30px;
	margin-bottom: 20px;
	font-family: 'Roboto Mono';
}

.logBar {
	display: inline-block;
	vertical-align: top;
	height: 11px;
	margin-bottom: 20px;
	background-color: var(--highlight);
	border-radius: var(--radius);
	transform: translateY(2px);
}

.sideLink:hover {
	background-color: rgba(0, 0, 0, 0);
}

.sideLinkHolder {
	display: inline-block;
	padding: 6px;
	margin-right: 4px;
	margin-top: 2px;
	margin-bottom: 2px;
	border-radius: var(--radius);
	border: solid 1px var(--bright);
	color: var(--ultraDark);
}